<?php
###NAMESPACE###
/**
 * ###NAMESPACE### ###CLASS### Controller.
 *
 * @package  app
 * @group    controller
 * @extends  Controller
 */
class Controller_###CLASS### extends ###EXTENDS_CLASS###
{

###ACTION###
}
