<?php
###NAMESPACE###
/**
 * The ###CONTROLLER### ###CLASS### view model
 *
 * @package  app
 * @group    viewmodel
 * @extends  ViewModel
 */
class View_###CONTROLLER###_###CLASS### extends View_###CONTROLLER###
{
	/**
	 * Prepare the view data, keeping this in here helps clean up
	 * the controller.
	 *
	 * @return void
	 */
	public function view()
	{
	    parent::view();
	}
}
